<section class="catalog">
    <h1 id="title"><span>Power of Nature</span></h1>
    {{#if events.length}}
    <div class="item-list">
        {{#each events}} 
            {{> event}} 
        {{/each}}
    </div>
    {{else}}
    <div class="no-event">
        <p>There are no events found yet!</p>
    </div>
    {{/if}}
</section>
