<section class="event-search">
    <h1 id="title">Search</h1>

    <form class="search-form" method="GET">
        <input
            type="text"
            class="search-event"
            name="text"
            placeholder="Search by Name..."
            value="{{query.text}}"
        />
        <select id="type" name="type">
            {{{selectOption query.type}}}
        </select>
        <button type="submit" class="btn-search">
            Search
        </button>
    </form>

    <div class="search-result">
        {{#if events.length}}
            <div class="search-list">
                {{#each events}}
                    {{>event}}
                {{/each}}
            </div>
        {{else}}
            <div class="no-match">
                <p>No match was found!</p>
            </div> 
        {{/if}}
    </div>

</section>
